[submodule "pytorch-cifar10-exp-master"]
	path = pytorch-cifar10-exp-master
	url = git@github.com:PeterouZh/pytorch-cifar10-exp.git
[submodule "submodule/template_lib-master"]
	path = submodule/template_lib-master
	url = git@github.com:PeterouZh/template_lib.git
